<article>    
    <div>
        <h2>Welcome to the Private Page!</h2>
    </div>    
    <div>
        <dl>
            <dt>UserID</dt>
            <dd>{{curUser._id}}</dd>
            <dt>Username</dt>
            <dd>{{curUser.username}}</dd>
            <dt>First Name</dt>
            <dd>{{curUser.firstName}}</dd>
            <dt>Last Name</dt>
            <dd>{{curUser.lastName}}</dd>
            <dt>Profession</dt>
            <dd>{{curUser.Profession}}</dd>
            <dt>Bio</dt>
            <dd>{{curUser.Bio}}</dd>
        </dl> 
    </div> 
    <div>
        <ul>
            <li><a href = "/logout">Logout</a></li>
        </ul>
    </div>
</article>